@font-face { font-family: AdamWarren; 
    src: url('./adam-warren-pro.bold-italic.ttf'); } 

html {
    font-size: 50px;
    font-family: AdamWarren;
    background: url('./images/blank_notebook.jpg');
    background-size: cover;
    background-position: 0% -5%;
}

body {
    display:flex;
    flex-direction: column;
    gap: 30px;
    justify-content: space-between;
    min-height: 100vh;
}

#container {
    padding-top: 10px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
}


.choices {
    padding-bottom: 60px;
    padding-left: 20px;
    gap: 50px;
    display: flex;
    justify-content: center;
    align-items: center;  
}

img {
    min-width: 200px;
    min-height: 200px;
    max-width: 200px;
    max-height: 200px;
}

#playAgainBtn{
    font-size: 40px;
    font-family: AdamWarren;
    margin-top: 50px;
    max-width: 200px;
    align-self: center;
}

.currentScore {
    padding-left: 50px;
    display: flex;
    justify-content: space-around;
    min-width: 1000px;
    font-size: 35px;
}

.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    display:flex;
    justify-self: flex-end;
    color: black;
    justify-content: center;
    padding: 40px;
    margin: -15px;
    background-color: rgba(128, 128, 128, 0.507);
}